@page "/add-customer"
@layout MainLayout
@inherits Accounting.Pages.AddCustomerComponent

@using Radzen
@using Radzen.Blazor
@using Accounting.Models.AccountingDb
@using Microsoft.AspNetCore.Identity;
@using Accounting.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
<PageTitle>Add Customer</PageTitle>
<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm Data="@customer" TItem="Accounting.Models.AccountingDb.Customer" Visible="@(customer != null)" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="Company_Name" style="width: 100%" Text="Company Name">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="100" style="display: block; width: 100%" @bind-Value="@(customer.Company_Name)" Name="Company_Name">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="Company_Name" style="position: absolute" Text="Company_Name is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="Company_Address" style="width: 100%" Text="Company Address">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="100" style="display: block; width: 100%" @bind-Value="@(customer.Company_Address)" Name="Company_Address">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="Company_Address" style="position: absolute" Text="Company_Address is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="Company_Telephone_Number" style="width: 100%" Text="Company Telephone Number">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="50" style="display: block; width: 100%" @bind-Value="@(customer.Company_Telephone_Number)" Name="Company_Telephone_Number">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="Company_Telephone_Number" style="position: absolute" Text="Company_Telephone_Number is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="Company_City" style="width: 100%" Text="Company City">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="100" style="display: block; width: 100%" @bind-Value="@(customer.Company_City)" Name="Company_City">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="Company_City" style="position: absolute" Text="Company_City is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="Registration_date" style="width: 100%" Text="Registration Date">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDatePicker DateFormat="MM/dd/yyyy" style="display: block; width: 100%" @bind-Value="@(customer.Registration_date)" Name="Registration_date">
                </RadzenDatePicker>
                <RadzenRequiredValidator Component="Registration_date" style="position: absolute" Text="Registration_date is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="Contact_Person_Name" style="width: 100%" Text="Contact Person Name">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="100" style="display: block; width: 100%" @bind-Value="@(customer.Contact_Person_Name)" Name="Contact_Person_Name">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="Contact_Person_Name" style="position: absolute" Text="Contact_Person_Name is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="Contact_Person_Designation" style="width: 100%" Text="Contact Person Designation">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="100" style="display: block; width: 100%" @bind-Value="@(customer.Contact_Person_Designation)" Name="Contact_Person_Designation">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="Contact_Person_Designation" style="position: absolute" Text="Contact_Person_Designation is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="Contact_Person_Tel_number" style="width: 100%" Text="Contact Person Tel Number">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="50" style="display: block; width: 100%" @bind-Value="@(customer.Contact_Person_Tel_number)" Name="Contact_Person_Tel_number">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="Contact_Person_Tel_number" style="position: absolute" Text="Contact_Person_Tel_number is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="customer_img" style="width: 100%" Text="Customer Img">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="100" style="display: block; width: 100%" @bind-Value="@(customer.customer_img)" Name="Customer_img">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="Customer_img" style="position: absolute" Text="customer_img is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="DateAdded" style="width: 100%" Text="Date Added">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDatePicker DateFormat="MM/dd/yyyy" style="width: 100%" @bind-Value="@(customer.DateAdded)" Name="DateAdded">
                </RadzenDatePicker>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="Added_By" style="width: 100%" Text="Added By">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="50" style="display: block; width: 100%" @bind-Value="@(customer.Added_By)" Name="Added_By">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="Added_By" style="position: absolute" Text="Added_By is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="revenueAccount" style="width: 100%" Text="Revenue Account">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@(customer.revenueAccount)" Name="RevenueAccount">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="expenseAccount" style="width: 100%" Text="Expense Account">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@(customer.expenseAccount)" Name="ExpenseAccount">
                </RadzenNumeric>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="Save">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
