@page "/edit-tbl-transaction/{transaction_id}"
@layout MainLayout
@inherits Accounting.Pages.EditTblTransactionComponent

@using Radzen
@using Radzen.Blazor
@using Accounting.Models.AccountingDb
@using Microsoft.AspNetCore.Identity;
@using Accounting.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
<PageTitle>Edit Tbl Transaction</PageTitle>
<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm TItem="Accounting.Models.AccountingDb.TblTransaction" Data="@tbltransaction" Visible="@(tbltransaction != null)" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="General Ledger Id" Component="general_ledger_id" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@(tbltransaction.general_ledger_id)" Name="General_ledger_id">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Tbl Account" Component="account_id" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDownDataGrid Data="@(getTblAccountsForaccount_idResult)" TextProperty="gl_account_name" ValueProperty="gl_account_no" Placeholder="Choose TblAccount" ShowSearch="false" style="width: 100%" @bind-Value="@(tbltransaction.account_id)" Name="Account_id">
                </RadzenDropDownDataGrid>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Description" Component="description" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="45" style="width: 100%" @bind-Value="@(tbltransaction.description)" Name="Description">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Credit" Component="credit" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@(tbltransaction.credit)" Name="Credit">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Debit" Component="debit" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@(tbltransaction.debit)" Name="Debit">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Account Type" Component="account_type" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDownDataGrid Data="@(getAccountTypesForaccount_typeResult)" TextProperty="account_type_name" ValueProperty="account_type_id" Placeholder="Choose AccountType" ShowSearch="false" style="width: 100%" @bind-Value="@(tbltransaction.account_type)" Name="Account_type">
                </RadzenDropDownDataGrid>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
